@model IEnumerable<Exam.Models.Detail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetailAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer.AnswerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicExplain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetailAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer.AnswerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicExplain)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetailID })
        </td>
    </tr>
}

</table>
