@model IEnumerable<Answer>
@{ ViewBag.Title = "My test"; }
<h2>@ViewBag.Title </h2>
<table class="table">
    <tr>
        <th>Student name</th>
        <th>Paper</th>
        <th>Review the paper</th>
        <th>Score</th>
        <th>Operation</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Student.StuName)</td>
            <td>@Html.DisplayFor(modelItem => item.Paper.PaperExplain)</td>
            <td>@(item.AnswerState == 0? "Answering the questions": item.AnswerState == 1? "Paper not reviewed": "Paper has been reviewed")</td>
            <td> @Html.DisplayFor(modelItem => item.AnswerScore)</td>
            <td>
                @Html.ActionLink("Check details", "MyAnswerDetail", new { controller = "Answers", id = item.AnswerID })
                @if (item.AnswerState == 0)
                {
                    @Html.ActionLink("Continue", "BeginAnswer", new { controller = "Answers", PaperID = item.PaperID, AnswerID = item.AnswerID })
                }
            </td>
        </tr>
    }
</table>


