@model IEnumerable<Exam.Models.Answer>
@{ ViewBag.Title = "审批试卷"; }
<h2>@ViewBag.Title </h2>
<table class="table">
    <tr>
        <th>学生姓名</th>
        <th>试卷</th>
        <th>批卷</th>
        <th>分数</th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Student.StuName)</td>
            <td>@Html.DisplayFor(modelItem => item.Paper.PaperExplain)</td>
            <td>@(item.AnswerState == 0 ? "答题中" : item.AnswerState == 1 ? "未批卷" : "已批卷")</td>
            <td>@Html.DisplayFor(modelItem => item.AnswerScore)</td>
            <td>
                @if (item.AnswerState == 1)
                {
                    @Html.ActionLink("审卷", "TeAnswerDetail", new { controller = "Answers", id = item.AnswerID })
                }
                else if (item.AnswerState == 2)
                {
                    @Html.ActionLink("查看详细", "TeAnswerDetail", new { controller = "Answers", id = item.AnswerID })
                }

            </td>
        </tr>
    }

</table>
