@using Exam.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online test - @ViewBag.Title</title>

    <!--introduce css files-->
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="all">
        <!--Page header-->
        @if (Session["LoginName"] == null || Session["Type"] == null)
        {
            @Html.Partial("_PartialHeader")
        }
        else if ((string)Session["Type"] == "Teacher")
        {
            @Html.Partial("_PartialHeaderTeacher");
        }
        else if ((string)Session["Type"] == "Student")
        {
            @Html.Partial("_PartialHeaderStudent");
        }
        <div id="content">
            <!--Main part of the pages-->
            @RenderBody()
            <!--Page footer-->
            <div id="footer">
                <hr style="margin:20px 0px;" /> Online automated tests   copyright reserved - 2022
            </div>
        </div>
    </div>
</body>
</html>
